<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
  <event date="2016-05-11">
    <action type="reading" >
      Agile Software Development: Principles, Patterns and Practices - Section 2
    </action>
    <references>
      <reference src="http://www.amazon.com/Software-Development-Principles-Patterns-Practices/dp/0135974445" type="source" />
    </references>
  </event>
  <event date="2016-05-11">
    <action type="code" >
      Create wiki for Software Craftsmanship Movement
    </action>
    <references>
      <reference src="https://github.com/sccommunity/community-wiki" type="source" />
    </references>
  </event>
  <event date="2016-05-12">
    <action type="facilitating" >
      Coding Dojo at Amadeus Nice.
    </action>
  </event>
</events>
