<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>

  <event date="2014-05-15">
    <action type="coding">
      Anonymous functions in Go. Very nice solution for exercism.io.
    </action>
    <references>
      <reference src="http://exercism.io/submissions/89d55696b1dd47e1a2cc9959815f8f8f" type="source" />
    </references>
  </event>

  <event date="2014-05-15">
    <action type="coding">
      UTF-8 encoding in Go.
    </action>
  </event>

  <event date="2014-05-15">
    <action type="coding">
      Trying mocking call to database in Go web application.
    </action>
  </event>

  <event date="2014-05-14">
    <action type="coding">
      Field names in struct in Go must be capital letter if they have to be parsed by json library. Sh*t!
    </action>
  </event>

  <event date="2014-05-12">
    <action type="coding">
      Practicing Go with Exercism.io
    </action>
    <references>
      <reference src="http://exercism.io/submissions/058f5e63993f43eab980aeac5c1fdb73" type="source" />
    </references>
  </event>

  <event date="2016-05-12">
    <action type="facilitating">
      Coding Dojo at Amadeus Nice.
    </action>
  </event>

  <event date="2016-05-11">
    <action type="code">
      Create wiki for Software Craftsmanship Movement
    </action>
    <references>
      <reference src="https://github.com/sccommunity/community-wiki" type="source" />
    </references>
  </event>

  <event date="2016-05-11">
    <action type="reading">
      Agile Software Development: Principles, Patterns and Practices - Section 2
    </action>
    <references>
      <reference src="http://www.amazon.com/Software-Development-Principles-Patterns-Practices/dp/0135974445" type="source" />
    </references>
  </event>

</events>
